version: 2
renderer: networkd
ethernets:
  {% for conn in connections %}
  {{ conn.iface }}:
    dhcp4: false
    dhcp6: false
    {% if dev_type == 'rtu' %}
    addresses: 
      - {{ conn.src_ip }}
    {% if conn.gateway %}
    gateway4: 
      {{ conn.gateway }}
    {% endif %}
  {% endif %}
{% endfor %}
