#cloud-config
groups:
  - admingroup
  - cloud-users

users:
  - default
  - name: utko
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, admin
    lock_passwd: false

hostname: {{ ud.hostname }}
ssh_pwauth: true

chpasswd:
  list: |
    utko:{{ ud.password }}
  expire: false

runcmd:
  {% for command in ud.commands %}
  - {{ command }}
  {% endfor %}

write_files:
  {% for write in ud.writes %}
  - path: {{ write.path }}
    content: |
      {% for line in write.content.splitlines() %}
      {{ line }}
      {% endfor %}
    owner: {{ write.owner }}
    permissions: "{{ write.permissions }}"
      {% endfor %}
