#cloud-config
network:
  version: 2
  renderer: networkd
  ethernets:
    {% for conn in ud.connections %}
    {{ conn.iface }}:
      dhcp4: false
      dhcp6: false
      {% if ud.dev_type == 'rtu' %}
      addresses: 
        - {{ conn.src_ip }}
      {% if conn.gateway %}
      gateway4: 
        - {{ conn.gateway }}
      {% endif %}
      {% endif %}
    {% endfor %}

groups:
  - admingroup
  - cloud-users

users:
  - default
  - name: utko
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, admin
    lock_passwd: false

hostname: {{ ud.hostname }}
ssh_pwauth: true

chpasswd:
  list: |
    utko:{{ ud.password }}
  expire: false

{% if ud.commands %}
runcmd:
  {% for command in ud.commands %}
  - {{ command }}
  {% endfor %}
{% endif %}
