#cloud-config

groups:
  - admingroup
  - cloud-users

users:
  - default
  - name: utko
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, admin
    lock_passwd: false

hostname: {{ ud.hostname }}
ssh_pwauth: true

chpasswd:
  list: |
    utko:{{ ud.password }}
  expire: false

{% if ud.commands %}
runcmd:
  {% for command in ud.commands %}
  - {{ command }}
  {% endfor %}
{% endif %}
